@font-face {
    font-family:'NanumGothic';
    src: url('fonts/NanumGothic.eot');
    src: url('fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
         url('fonts/NanumGothic.woff') format('woff'),
         url('fonts/NanumGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'NanumMyeongjo';
    src: url('fonts/NanumMyeongjo.eot');
    src: url('fonts/NanumMyeongjo.eot?#iefix') format('embedded-opentype'),
         url('fonts/NanumMyeongjo.woff') format('woff'),
         url('fonts/NanumMyeongjo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}